// new VARIABLES
// $mean: #FCFBF5;
$text: #1D1D1D;
$text-2: #706F6D;
$mean: #FFF;
$btn-activ: #989898;
$btn-hover: #c4c3bf;
$highligh: #5C5C5C;
$line-for-price: #f7f7f7;
$black: #000;
$line: #d7d7d7;
$input: #f1f0eb;

$scroll: #323c46;


// Кольори
$primary-color: #1D1D1D;
$secondary-color: #706F6D;
$background-color: #FFFFFF;
$border-color: #989898;
$highlight-color: #5C5C5C;
$red-color: red;


// Шрифти
$font-primary: "Montserrat", sans-serif;
$font-size-base: 14px;
$fz-h1: 2rem;
$fz-h2: 1.875rem;
$fz-h3: 1.875rem;
$fz-t: 1.143rem;
$fz-p: 1rem;

// Відступи
$padding-base: 10px;
$padding-container: 110px;
$padding-container-md: 50px;
$padding-container-sm: 15px;

$max-width-container: 1440px;
$header-height: 80px;
$footer-height: 169px;
