$main: #FFFFFF;
$black: #000000;
$text: #1D1D1D;
$text2: #706F6D;
$line: #D7D7D7;
$btnactive: #989898;
$input: #F1F0EB;
$btnhover: #C4C3BF;
$grey: #5C5C5C;
$submenu: #f7f7f7;

$menu: 16px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');


$text-color: #1D1D1D;
$main-color: #FFFFFF;
$text_2-color: #706F6D;
$bg_grey-color: #F7F7F7;


$input-color: #F1F0EB;
$line-color: #D7D7D7;
$scroll-color: #323C46;


$btn-color: #989898;
$btn_2-color: #C4C3BF;

$black-color: #2C2C2C;

$dark: #000000;


$grey: #5C5C5C;

h1 {
	font-weight: 600;
	font-size: 2.5rem;
	line-height: 2.5rem;
	color: $text-color;
	padding: 50px 0;
}
h2 {
	font-weight: 600;
	font-size: 1.875rem;
	line-height: 1.875rem;
	color: $text-color;
	padding: 15px 0 10px 0;
}
h3 {
	font-weight: 400;
	font-size: 1.875rem;
	line-height: 1.875rem;
	color: $text-color;
	padding: 15px 0 10px 0;
}
p {
font-weight: 300;
font-size: 1rem;
line-height: 1.375rem;
color: $text_2-color;
padding: 0 0 10px 0;
}
.container {
	max-width: 1440px;
//	margin: 0 auto;
//	margin: 0px 0 0 0;
	padding: 0 110px;
	@media (max-width: 1200px) {
		padding: 0 50px;
	}
	@media (max-width: 820px) {
		padding: 0 15px;
	}
}