@import '../../style/variables.scss';

.text-section {

}
.text-head {
	padding: 40px 0 30px 0;
}
td  {
	border-bottom: 1px solid $grey;
	border-right: 1px solid $btn-color;
}
th {
	border-bottom: 1px solid $grey;
	border-right: 1px solid $btn-color;
}